@import "../_variables";

.home__header {
	// pointer-events: all;
	display: flex;
	align-items: center;
	height: 100dvh;
	max-width: 1280px;
	margin: 0 auto;

	.intro {
		display: flex;
		// align-items: center;
		justify-content: center;
		width: $content-width;
		margin: 0 auto;

		img {
			width: 8rem;
			mix-blend-mode: screen;
			opacity: 0.3;
		}

		h1 {
			font-family: "Playfair  Display";
			font-weight: 100;
			padding: 1rem 0 0 1rem;
			font-size: 1.5rem;
		}
	}
}
