@import "../_variables";

footer {
	// position: absolute;
	// bottom: 0;
	background: $tertiary-color;
	width: 100%;
	padding-block: 3rem;
	color: $color-black;

	.footer__wrapper {
		max-width: 1280px;
		margin: 0 auto;

		.footer__container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: $content-width;
			max-width: 1280px;
			margin: 0 auto;

			span {
				font-family: "IBM Mono";
				font-weight: 500;
			}

			h2,
			a {
				font-size: 2.5rem;
				font-weight: 500;
				color: $color-black;
				pointer-events: all;
			}

			span a {
				font-size: 1rem;
				font-weight: 400;
			}
		}
	}
}
