@import "../_variables";

.services__section {
	position: relative;
	width: $content-width;
	margin: 0 auto 10rem auto;

	p {
		font-size: 1rem;
		width: 25rem;
		text-align: right;
	}

	.services__list {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.5rem 1rem;
		border-bottom: 1px solid $primary-color-50;

		&:last-child {
			border-bottom: none;
		}
	}
}
